.image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 640px;
}

.box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes {
    position: relative;
}
